.banner-artist {
  @include bg-image("morten-harket") {
    background-position: 70% 0;
  }
  height: 100vh;

  button {
    width: 200px;
  }

  @include media(sm) {
    button {
      width: auto;
    }
  }
}

.song-cards-container {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);

  column-gap: 60px;
  row-gap: 25px;

  .song-card {
    .song-name {
      @extend .text-bold;
      @extend .text-uppercase;
      @extend .text-size-small;
    }
    .author-name {
      @extend .text-size-small;
      @extend .text-gray;
    }
  }

  @include media(md) {
    grid-template-rows: auto;
    grid-template-columns: 1fr;

    row-gap: 10px;
  }
}

.media-item-group {
  .media-item {
    @extend .text-size-1;
    display: flex;
    flex-direction: column;

    max-width: 250px;

    .item-title {
      @extend .text-bold;
    }
  }

  @include media(md) {
    justify-content: space-around;
    .media-item {
      max-width: 130px;

      img {
        height: 130px;
      }
    }
  }
}
