.banner-artist {
  @include bg-image("morten-harket") {
    background-position: 70% 0;
  }
  height: 100vh;
  min-height: 500px;

  h1 {
    margin-bottom: px-to-rem(16px);
  }

  .banner-buttons {
    gap: px-to-rem(24px);

    margin-top: px-to-rem(48px);
  }

  button {
    width: px-to-rem(200px);
  }
}

.song-cards-container {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);

  column-gap: px-to-rem(50px);
  row-gap: px-to-rem(25px);

  @include media(md) {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}

.media-item-group {
  column-gap: px-to-rem(50px);
  row-gap: px-to-rem(25px);

  @include media(md) {
    .media-item {
      max-width: 130px;

      img {
        height: px-to-rem(130px);
      }
    }
  }
}
