@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

img {
  object-fit: contain;
}

input,
button,
input::placeholder {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

ul {
  list-style: none;
}

input[type=search] {
  padding: 0.3125rem 1rem;
}

h3 {
  font-size: 1.875rem;
  line-height: 2.8125rem;
  font-weight: normal;
}
@media screen and (max-width: 425px) {
  h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.header-absolute {
  position: absolute;
  top: 0.9375rem;
  right: 0;
  left: 0;
}

.header .burger-btn {
  display: none;
  align-self: flex-start;
  margin-right: 32px;
}
.header nav {
  transform-origin: top;
  transition: 0.3s;
}
.header li {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.header .logo-main {
  margin-right: 6.25rem;
  white-space: nowrap;
}
.header .logo-main img {
  margin-right: 0.625rem;
}
@media screen and (max-width: 768px) {
  .header nav {
    flex-direction: column;
    transform: scaleY(0);
  }
  .header ul {
    flex-direction: column;
    order: 3;
  }
  .header .logo-main {
    order: 1;
    margin-bottom: 1.3125rem;
  }
  .header input {
    order: 4;
    margin-top: 1rem;
  }
  .header .burger-btn {
    display: block;
  }
  .header #burger:checked + nav {
    transform: scaleY(1);
  }
}

.footer {
  padding: 80px 0 50px;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer .footer-section {
  align-self: flex-start;
}
.footer .footer-title {
  margin-bottom: 1rem;
}
.footer > div {
  column-gap: 30px;
  row-gap: 40px;
}
.footer > div:last-child ul {
  column-gap: 40px;
  row-gap: 20px;
}

.btn {
  padding: 1.125rem 1.875rem;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid;
  cursor: pointer;
}

.btn-icon {
  display: flex;
  align-items: center;
}
.btn-icon img {
  margin-right: 15px;
}

.subscribe-card {
  max-width: 23.125rem;
  min-height: 34.375rem;
  padding: 1.5rem 1.5rem 4rem;
  border-radius: 15px;
}
.subscribe-card button {
  margin: 24px 0 64px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.subscribe-card .price {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-transform: uppercase;
  column-gap: 1rem;
}
.subscribe-card .card-title {
  font-size: 1.5rem;
  line-height: 2.8125rem;
}
@media screen and (max-width: 425px) {
  .subscribe-card .card-title {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.article-news header {
  margin-bottom: 1.875rem;
}
.article-news .author-name {
  margin: 0 1rem;
}
.article-news footer {
  margin-top: 1.5rem;
  margin-bottom: 0.9375rem;
}

.container {
  max-width: 1280px;
  padding: 0 1.3125rem;
}

.input-transparent {
  padding: 1.125rem 1.3125rem;
}

.banner-main {
  background: url("../images/banner.png") no-repeat center;
  background-size: cover;
  height: 100vh;
}
.banner-main > div {
  height: 100%;
}
.banner-main .form-describe {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.banner-main form {
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}
.banner-main form button {
  grid-column: 1/-1;
}
@media screen and (max-width: 768px) {
  .banner-main form {
    width: 100%;
    row-gap: 1rem;
  }
  .banner-main form label {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 425px) {
  .banner-main form input {
    grid-column: 1/-1;
  }
}

.subscribe-cards-container {
  min-height: 37.5rem;
  margin-top: 4rem;
  margin-bottom: 3.125rem;
  column-gap: 1.875rem;
  row-gap: 3.125rem;
}
.subscribe-cards-container .card-free {
  background: url("../images/subscribe-1.png") no-repeat center;
  background-size: cover;
}
.subscribe-cards-container .card-standard {
  background: url("../images/subscribe-2.png") no-repeat center;
  background-size: cover;
}
.subscribe-cards-container .card-premium {
  background: url("../images/subscribe-3.png") no-repeat center;
  background-size: cover;
}

.main-box {
  display: flex;
  justify-content: space-between;
  margin-top: 3.125rem;
  column-gap: 1.875rem;
}
.main-box button {
  width: 8.1875rem;
  margin-top: 3rem;
  padding: 1.0625rem;
}
@media screen and (max-width: 1024px) {
  .main-box .box-image {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .main-box {
    flex-direction: column !important;
    row-gap: 1.25rem;
  }
}

.banner-artist {
  background: url("../images/morten-harket.png") no-repeat center;
  background-size: cover;
  background-position: 70% 0;
  height: 100vh;
}
.banner-artist button {
  width: 200px;
}
@media screen and (max-width: 425px) {
  .banner-artist button {
    width: auto;
  }
}

.song-cards-container {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
  row-gap: 25px;
}
@media screen and (max-width: 768px) {
  .song-cards-container {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}

.media-item-group .media-item {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}
@media screen and (max-width: 768px) {
  .media-item-group {
    justify-content: space-around;
  }
  .media-item-group .media-item {
    max-width: 130px;
  }
  .media-item-group .media-item img {
    height: 130px;
  }
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.flex-wrap {
  flex-wrap: wrap;
}

.shrink-0 {
  flex-shrink: 0;
}

.text-uppercase, h1, h2, .footer .footer-title, .song-cards-container .song-card .song-name {
  text-transform: uppercase;
}

.text-bold, h1, h2, .footer .footer-title, .input-transparent, .song-cards-container .song-card .song-name, .media-item-group .media-item .item-title {
  font-weight: 700;
}

.flex-column {
  flex-direction: column;
}

@media screen and (max-width: 425px) {
  .sm-flex-column {
    flex-direction: column;
  }
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.w-full, .container {
  width: 100%;
}

.w-half {
  width: 50%;
}

.text-center {
  text-align: center;
}

.bg-transparent, .input-transparent {
  background: transparent;
}

.border-1 {
  border: 1px solid;
}

.border-2, .input-transparent {
  border: 2px solid;
}

.border-4 {
  border: 4px solid;
}

.border-radius-3 {
  border-radius: 3px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-50, input[type=search] {
  border-radius: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

.border-none {
  border: none;
}

.gap-50 {
  gap: 50px;
}

.pt-50 {
  padding-top: 3.125rem;
}

.pt-100 {
  padding-top: 6.25rem;
}

.pb-100 {
  padding-bottom: 6.25rem;
}

.m-auto {
  margin: auto;
}

.mx-auto, .container {
  margin-right: auto;
  margin-left: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.bg-white {
  background-color: #fff;
}

.text-white, .footer .footer-title {
  color: #fff;
}

.border-white, .input-transparent {
  border-color: #fff;
}

.bg-black {
  background-color: #08020d;
}

.text-black {
  color: #08020d;
}

.border-black {
  border-color: #08020d;
}

.bg-green {
  background-color: #34c176;
}

.text-green {
  color: #34c176;
}

.border-green {
  border-color: #34c176;
}

.bg-orange {
  background-color: #f89202;
}

.text-orange {
  color: #f89202;
}

.border-orange {
  border-color: #f89202;
}

.bg-brown {
  background-color: #95390c;
}

.text-brown {
  color: #95390c;
}

.border-brown {
  border-color: #95390c;
}

.bg-red {
  background-color: #ff4157;
}

.text-red {
  color: #ff4157;
}

.border-red {
  border-color: #ff4157;
}

.bg-purple {
  background-color: #5328a1;
}

.text-purple {
  color: #5328a1;
}

.border-purple {
  border-color: #5328a1;
}

.bg-gray {
  background-color: #e0e0e0;
}

.text-gray, .footer, .song-cards-container .song-card .author-name {
  color: #e0e0e0;
}

.border-gray {
  border-color: #e0e0e0;
}

.bg-gray-dark {
  background-color: #cacaca;
}

.text-gray-dark {
  color: #cacaca;
}

.border-gray-dark {
  border-color: #cacaca;
}

.bg-dark, input[type=search] {
  background-color: #3c3b3d;
}

.text-dark {
  color: #3c3b3d;
}

.border-dark {
  border-color: #3c3b3d;
}

.text-size-7, h1 {
  font-size: 4rem;
  line-height: 6rem;
}

@media screen and (max-width: 425px) {
  .sm-text-size-7 {
    font-size: 4rem;
    line-height: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .md-text-size-7 {
    font-size: 4rem;
    line-height: 6rem;
  }
}

@media screen and (max-width: 1024px) {
  .lg-text-size-7 {
    font-size: 4rem;
    line-height: 6rem;
  }
}

@media screen and (max-width: 1280px) {
  .xl-text-size-7 {
    font-size: 4rem;
    line-height: 6rem;
  }
}

.text-size-6 {
  font-size: 3.5rem;
  line-height: 5.25rem;
}

@media screen and (max-width: 425px) {
  .sm-text-size-6 {
    font-size: 3.5rem;
    line-height: 5.25rem;
  }
}

@media screen and (max-width: 768px) {
  .md-text-size-6 {
    font-size: 3.5rem;
    line-height: 5.25rem;
  }
}

@media screen and (max-width: 1024px) {
  .lg-text-size-6 {
    font-size: 3.5rem;
    line-height: 5.25rem;
  }
}

@media screen and (max-width: 1280px) {
  .xl-text-size-6 {
    font-size: 3.5rem;
    line-height: 5.25rem;
  }
}

.text-size-5 {
  font-size: 3rem;
  line-height: 4.5rem;
}

@media screen and (max-width: 425px) {
  .sm-text-size-5 {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}

@media screen and (max-width: 768px) {
  .md-text-size-5 {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .lg-text-size-5 {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}

@media screen and (max-width: 1280px) {
  .xl-text-size-5 {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}

.text-size-4, h2 {
  font-size: 2.5rem;
  line-height: 3.75rem;
}

@media screen and (max-width: 425px) {
  .sm-text-size-4 {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}

@media screen and (max-width: 768px) {
  .md-text-size-4, h1 {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}

@media screen and (max-width: 1024px) {
  .lg-text-size-4 {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}

@media screen and (max-width: 1280px) {
  .xl-text-size-4 {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}

.text-size-3 {
  font-size: 2rem;
  line-height: 3rem;
}

@media screen and (max-width: 425px) {
  .sm-text-size-3, h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .md-text-size-3 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .lg-text-size-3 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 1280px) {
  .xl-text-size-3 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.text-size-2 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

@media screen and (max-width: 425px) {
  .sm-text-size-2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

@media screen and (max-width: 768px) {
  .md-text-size-2, h2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

@media screen and (max-width: 1024px) {
  .lg-text-size-2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

@media screen and (max-width: 1280px) {
  .xl-text-size-2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

.text-size-1, p,
span, .footer, .media-item-group .media-item {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 425px) {
  .sm-text-size-1, h2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .md-text-size-1 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .lg-text-size-1 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 1280px) {
  .xl-text-size-1 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.text-size-small, .song-cards-container .song-card .song-name, .song-cards-container .song-card .author-name {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

@media screen and (max-width: 425px) {
  .sm-text-size-small {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

@media screen and (max-width: 768px) {
  .md-text-size-small {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .lg-text-size-small {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

@media screen and (max-width: 1280px) {
  .xl-text-size-small {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
