@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

img {
  object-fit: contain;
}

input,
button,
input::placeholder {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

ul {
  list-style: none;
}

input[type=search] {
  padding: 0.3125rem 1rem;
}

p,
span {
  font-size: 1rem;
  line-height: 1.5rem;
}

h1 {
  font-size: 3.75rem;
  line-height: 5.625rem;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}
@media screen and (max-width: 425px) {
  h1 {
    font-size: 1.875rem;
    line-height: 2.8125rem;
  }
}

h2 {
  margin-bottom: 3rem;
  font-size: 2.375rem;
  line-height: 4.6875rem;
}
@media screen and (max-width: 425px) {
  h2 {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}

h3 {
  font-size: 1.875rem;
  line-height: 2.8125rem;
  font-weight: 400;
}
@media screen and (max-width: 425px) {
  h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.header li {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.header .logo-main {
  margin-right: 6.25rem;
  white-space: nowrap;
}
.header .logo-main img {
  margin-right: 0.625rem;
}
@media screen and (max-width: 768px) {
  .header nav {
    flex-direction: column;
  }
  .header ul {
    flex-direction: column;
    order: 3;
  }
  .header .logo-main {
    order: 1;
    margin-bottom: 1.3125rem;
  }
  .header input {
    order: 4;
    margin-top: 1rem;
  }
  .header .burger-btn {
    display: block;
  }
}

.footer {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 5rem 0rem 3.125rem;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer .footer-section {
  align-self: flex-start;
}
.footer .footer-title {
  margin-bottom: 1rem;
}
.footer > div {
  column-gap: 1.875rem;
  row-gap: 2.5rem;
}
.footer > div:last-child ul {
  column-gap: 2.5rem;
  row-gap: 1.25rem;
}

.btn {
  padding: 1.125rem 1.875rem;
  white-space: nowrap;
  background: transparent;
  border: 1px solid;
  cursor: pointer;
}

.btn-icon {
  display: flex;
  align-items: center;
}
.btn-icon img {
  margin-right: 0.9375rem;
}

.subscribe-card {
  display: flex;
  flex-direction: column;
  max-width: 23.125rem;
  min-height: 34.375rem;
  padding: 1.5rem 1.5rem 4rem;
  border-radius: 15px;
}
.subscribe-card .btn {
  margin: 1.5rem 0rem 4rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.subscribe-card > div {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.subscribe-card .price {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-transform: uppercase;
  column-gap: 1rem;
}
.subscribe-card .price span:first-child {
  font-size: 4rem;
  line-height: 6rem;
}
.subscribe-card .price span:last-child {
  font-size: 2rem;
  line-height: 3rem;
  position: relative;
  top: 10px;
}
.subscribe-card h3 {
  font-size: 1.5rem;
  line-height: 2.8125rem;
}
@media screen and (max-width: 425px) {
  .subscribe-card h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.article-news header {
  margin-bottom: 1.875rem;
}
.article-news .author-name {
  margin: 0 1rem;
}
.article-news footer {
  margin-top: 1.5rem;
  margin-bottom: 0.9375rem;
}

.media-item {
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  max-width: 250px;
}
.media-item > div {
  display: flex;
  flex-direction: column;
  margin-top: 1.125rem;
}
.media-item h3 {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: bold;
}
.song-card {
  display: flex;
  align-items: center;
}
.song-card .song-card-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.song-card img {
  margin-right: 0.9375rem;
}
.song-card .time {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.3125rem;
}

.input-transparent {
  padding: 1.125rem 1.3125rem;
  background: transparent;
  border: 2px solid;
}

.header-absolute {
  position: absolute;
  top: 0.9375rem;
  right: 0;
  left: 0;
}

.banner-main {
  background: url("../images/banner.png") no-repeat center;
  background-size: cover;
  height: 100vh;
}
.banner-main .main-subtitle {
  font-size: 2.5rem;
  line-height: 3.75rem;
}
@media screen and (max-width: 768px) {
  .banner-main .main-subtitle {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
@media screen and (max-width: 425px) {
  .banner-main .main-subtitle {
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }
}
.banner-main > div {
  height: 100%;
}
.banner-main .form-describe {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.banner-main form {
  grid-template-columns: repeat(2, 1fr);
  width: 50%;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}
.banner-main form button {
  grid-column: 1/-1;
}
@media screen and (max-width: 768px) {
  .banner-main form {
    width: 100%;
    row-gap: 1rem;
  }
  .banner-main form label {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 425px) {
  .banner-main form input {
    grid-column: 1/-1;
  }
}

.subscribe-cards-container {
  min-height: 38.8125rem;
  margin-top: 4rem;
  margin-bottom: 3.125rem;
  column-gap: 1.875rem;
  row-gap: 3.125rem;
}
.subscribe-cards-container .card-free {
  background: url("../images/subscribe-1.png") no-repeat center;
  background-size: cover;
}
.subscribe-cards-container .card-standard {
  background: url("../images/subscribe-2.png") no-repeat center;
  background-size: cover;
}
.subscribe-cards-container .card-premium {
  background: url("../images/subscribe-3.png") no-repeat center;
  background-size: cover;
}

.main-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.125rem;
  column-gap: 1.875rem;
}
.main-box button {
  width: 8.1875rem;
  margin-top: 3rem;
  padding: 1.0625rem;
}
@media screen and (max-width: 1024px) {
  .main-box .box-image {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .main-box {
    flex-direction: column !important;
    row-gap: 1.25rem;
  }
}

.btn-app {
  margin-top: 1rem !important;
  text-transform: none !important;
}

.banner-artist {
  background: url("../images/morten-harket.png") no-repeat center;
  background-size: cover;
  background-position: 70% 0;
  height: 100vh;
  min-height: 500px;
}
.banner-artist h1 {
  margin-bottom: 1rem;
}
.banner-artist .banner-buttons {
  gap: 1.5rem;
  margin-top: 3rem;
}
.banner-artist button {
  width: 12.5rem;
}

.song-cards-container {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.125rem;
  row-gap: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .song-cards-container {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}

.media-item-group {
  column-gap: 3.125rem;
  row-gap: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .media-item-group .media-item {
    max-width: 130px;
  }
  .media-item-group .media-item img {
    height: 8.125rem;
  }
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-uppercase, h1, h2, .footer .footer-title, .btn, .subscribe-card h3, .song-card .song-name, .banner-main .main-subtitle {
  text-transform: uppercase;
}

.text-bold, .footer .footer-title, .song-card .song-name, .input-transparent, .banner-main .main-subtitle {
  font-weight: 700;
}

.flex-column {
  flex-direction: column;
}

@media screen and (max-width: 425px) {
  .sm-flex-column {
    flex-direction: column;
  }
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.w-full, .container {
  width: 100%;
}

.text-center, .subscribe-card .card-description, .subscribe-card h3 {
  text-align: center;
}

.border-radius-3 {
  border-radius: 3px;
}

.border-radius-5, .subscribe-card .btn {
  border-radius: 5px;
}

.border-radius-50, input[type=search] {
  border-radius: 50px;
}

.border-none {
  border: none;
}

.pt-50 {
  padding-top: 3.125rem;
}

.pt-100 {
  padding-top: 6.25rem;
}

.pb-100 {
  padding-bottom: 6.25rem;
}

.text-size-small, .subscribe-card .card-description, .song-card .time, .song-card .song-name, .song-card .author-name {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.bg-white {
  background-color: #fff;
}

.text-white, .footer .footer-title, .main-box header {
  color: #fff;
}

.border-white, .input-transparent {
  border-color: #fff;
}

.bg-black {
  background-color: #08020d;
}

.text-black {
  color: #08020d;
}

.border-black {
  border-color: #08020d;
}

.bg-green {
  background-color: #34c176;
}

.text-green {
  color: #34c176;
}

.border-green {
  border-color: #34c176;
}

.bg-orange {
  background-color: #f89202;
}

.text-orange {
  color: #f89202;
}

.border-orange {
  border-color: #f89202;
}

.bg-red {
  background-color: #95390c;
}

.text-red {
  color: #95390c;
}

.border-red {
  border-color: #95390c;
}

.bg-purple {
  background-color: #5328a1;
}

.text-purple {
  color: #5328a1;
}

.border-purple {
  border-color: #5328a1;
}

.bg-gray {
  background-color: #e0e0e0;
}

.text-gray, .footer, .media-item span, .song-card .time, .song-card .author-name {
  color: #e0e0e0;
}

.border-gray {
  border-color: #e0e0e0;
}

.bg-gray-dark {
  background-color: #cacaca;
}

.text-gray-dark, .main-box {
  color: #cacaca;
}

.border-gray-dark {
  border-color: #cacaca;
}

.bg-dark, input[type=search] {
  background-color: #3c3b3d;
}

.text-dark {
  color: #3c3b3d;
}

.border-dark {
  border-color: #3c3b3d;
}

/*# sourceMappingURL=style.css.map */
