.btn {
  @extend .text-uppercase;
  padding: px-to-rem(18px 30px);

  white-space: nowrap;

  background: transparent;

  border: 1px solid;

  cursor: pointer;
}

.btn-icon {
  display: flex;
  align-items: center;

  img {
    margin-right: px-to-rem(15px);
  }
}
