.footer {
  @extend .text-gray;
  @include typography(16px, 24px);

  padding: px-to-rem(80px 0px 50px);

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  .footer-section {
    align-self: flex-start;
  }

  .footer-title {
    @extend .text-bold;
    @extend .text-uppercase;
    @extend .text-white;
    margin-bottom: px-to-rem(16px);
  }

  & > div {
    column-gap: px-to-rem(30px);
    row-gap: px-to-rem(40px);
  }

  & > div:last-child ul {
    column-gap: px-to-rem(40px);
    row-gap: px-to-rem(20px);
  }
}
