.header {
  li {
    display: flex;
    align-items: center;
    margin-right: px-to-rem(32px);
  }

  .logo-main {
    margin-right: px-to-rem(100px);

    white-space: nowrap;

    img {
      margin-right: px-to-rem(10px);
    }
  }

  @include media(md) {
    nav {
      flex-direction: column;
    }

    ul {
      flex-direction: column;
      order: 3;
    }

    .logo-main {
      order: 1;

      margin-bottom: px-to-rem(21px);
    }

    input {
      order: 4;
      margin-top: px-to-rem(16px);
    }

    .burger-btn {
      display: block;
    }
  }
}
