@import "header";
@import "footer";
@import "btn";
@import "subscribe-card";
@import "article-news";
@import "media-item";
@import "song-card";

.container {
  @extend .w-full;
  max-width: map-get($breakpoints, xl);

  margin: 0 auto;

  padding: 0 px-to-rem(21px);
}

.input-transparent {
  @extend .border-white;
  @extend .text-bold;

  padding: px-to-rem(18px 21px);

  background: transparent;

  border: 2px solid;
}

.header-absolute {
  position: absolute;
  top: px-to-rem(15px);
  right: 0;
  left: 0;
}
