.main-footer {
  @extend .text-gray;
  @extend .text-size-1;
  padding: 80px 0 50px;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  .footer-title {
    @extend .text-bold;
    @extend .text-uppercase;
    @extend .text-white;
    @extend .mb-16;
  }

  & > div {
    column-gap: 30px;
    row-gap: 40px;
  }

  & > div:last-child ul {
    column-gap: 40px;
    row-gap: 20px;
  }
}
