.main-header {
  position: absolute;
  top: 15px;
  right: 0;
  left: 0;

  .burger-btn {
    @extend .mr-32;
    display: none;
    align-self: flex-start;
  }

  nav {
    @extend .d-flex;

    transform-origin: top;

    transition: 0.3s;
  }

  li {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .mr-32;
  }

  .logo-main {
    white-space: nowrap;
  }

  @include media(md) {
    nav {
      flex-direction: column;

      transform: scaleY(0);
    }

    ul {
      flex-direction: column;
      order: 3;
    }

    .logo-main {
      order: 1;
    }

    input {
      order: 4;
    }

    .burger-btn {
      display: block;
    }

    #burger:checked + nav {
      transform: scaleY(1);
    }
  }
}
