@import "header";
@import "footer";

.container {
  width: 100%;
  max-width: map-get($breakpoints, xl);
  margin: 0 auto;
  padding: 0 20px;
}

.h1-subtitle {
  @include typography(30px, 35px, 700);

  @include media(md) {
    @include typography(18px, 21px, 700);
  }
}

.input-transparent {
  padding: 17px 20px;

  background: rgba(255, 255, 255, 0.1);

  border: 2px solid rgba(255, 255, 255, 0.1);
}

.btn {
  @extend .bg-transparent;
  @extend .border-white;
  @extend .cursor-pointer;
  @extend .text-uppercase;
  @extend .py-20;
}

.btn-icon {
  @extend .d-flex;
  @extend .align-items-center;

  img {
    margin-right: 15px;
  }
}

.sm-font-12 {
  @include media(sm) {
    @include typography(12px, 14px);
  }
}

.sm-font-14 {
  @include media(sm) {
    @include typography(14px, 16px);
  }
}

.sm-flex-column {
  @include media(sm) {
    flex-direction: column;
  }
}
