@import "header";
@import "footer";

.container {
  @extend .mx-auto;
  @extend .px-21;
  width: 100%;
  max-width: map-get($breakpoints, xl);
}

.input-transparent {
  @extend .py-18;
  @extend .px-21;
  @extend .bg-transparent;
  @extend .border-2;
  @extend .border-white;
  @extend .text-bold;
}

.btn {
  @extend .bg-transparent;
  @extend .border-white;
  @extend .cursor-pointer;
  @extend .text-uppercase;
  @extend .py-21;
  @extend .border-1;
}

.btn-icon {
  @extend .d-flex;
  @extend .align-items-center;

  img {
    margin-right: 15px;
  }
}

.sm-flex-column {
  @include media(sm) {
    flex-direction: column;
  }
}
