.banner-artist {
  @include bg-image("morten-harket") {
    background-position: 70% 0;
  }
  min-height: 550px;

  .container {
    padding-top: 280px;
  }

  p {
    @include typography(18px, 21px, 700);
    margin: 25px 0 40px;
  }

  button {
    width: 200px;

    padding-left: 20px;

    &:first-child {
      margin-right: 35px;
    }
  }

  @include media(md) {
    min-height: 600px;
  }

  @include media(sm) {
    button {
      width: auto;

      &:first-child {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}

.song-cards-container {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);

  column-gap: 60px;
  row-gap: 25px;

  .song-card {
    @include typography(14px, 16px);

    img {
      margin-right: 16px;
    }
    .author-name {
      @include typography(12px, 14px);
      margin-top: 5px;
    }
  }

  @include media(md) {
    grid-template-rows: auto;
    grid-template-columns: 1fr;

    row-gap: 10px;
  }
}

.media-item-group {
  .media-item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 250px;

    .item-title {
      @include typography(20px, 23px, 700);
      padding: 10px 0;
    }
  }

  @include media(md) {
    justify-content: space-around;
    .media-item {
      max-width: 130px;

      img {
        height: 130px;
      }

      .item-title {
        @include typography(16px, 18px, 700);
      }
    }
  }
}
