.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.grid-row-full {
  grid-column: 1 / -1;
}

.sm-grid-row-full {
  @include media(sm) {
    grid-column: 1 / -1;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.shrink-0 {
  flex-shrink: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 700;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.text-center {
  text-align: center;
}

.bg-transparent {
  background: transparent;
}

.border-1 {
  border: 1px solid;
}

.border-2 {
  border: 2px solid;
}

.border-4 {
  border: 4px solid;
}

.border-radius-3 {
  border-radius: 3px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-50 {
  border-radius: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

.border-none {
  border: none;
}

.gap-50 {
  gap: 50px;
}

.sm-gap-20 {
  @include media(sm) {
    gap: 20px;
  }
}

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }

  .text-#{$name} {
    color: $color;
  }

  .border-#{$name} {
    border-color: $color;
  }
}

@each $text-class, $size-list in $font-sizes {
  $font-size: nth($size-list, 1);
  $line-height: nth($size-list, 2);

  .text-size-#{$text-class} {
    @include typography($font-size, $line-height);
  }

  @each $point, $value in $breakpoints {
    .#{$point}-text-size-#{$text-class} {
      @include media($point) {
        @include typography($font-size, $line-height);
      }
    }
  }
}

@each $indent in $indents {
  $indent-name: strip-units($indent);
  $indent-rem: $indent !default;

  @if $indent != auto {
    $indent-rem: px-to-rem($indent);
  } @else {
    $indent-rem: auto;
  }

  @each $type in "m", "p" {
    $property: margin !default;

    @if ($type == "p") {
      $property: padding;
    }

    .#{$type}-#{$indent-name} {
      #{$property}: $indent-rem;
    }
    .#{$type}x-#{$indent-name} {
      #{$property}-right: $indent-rem;
      #{$property}-left: $indent-rem;
    }
    .#{$type}y-#{$indent-name} {
      #{$property}-top: $indent-rem;
      #{$property}-bottom: $indent-rem;
    }
    .#{$type}t-#{$indent-name} {
      #{$property}-top: $indent-rem;
    }
    .#{$type}r-#{$indent-name} {
      #{$property}-right: $indent-rem;
    }
    .#{$type}b-#{$indent-name} {
      #{$property}-bottom: $indent-rem;
    }
    .#{$type}l-#{$indent-name} {
      #{$property}-left: $indent-rem;
    }

    @each $point, $value in $breakpoints {
      @include media($point) {
        .#{$point}-#{$type}-#{$indent-name} {
          #{$property}: $indent-rem;
        }
        .#{$point}-#{$type}x-#{$indent-name} {
          #{$property}-right: $indent-rem;
          #{$property}-left: $indent-rem;
        }
        .#{$point}-#{$type}y-#{$indent-name} {
          #{$property}-top: $indent-rem;
          #{$property}-bottom: $indent-rem;
        }
        .#{$point}-#{$type}t-#{$indent-name} {
          #{$property}-top: $indent-rem;
        }
        .#{$point}-#{$type}r-#{$indent-name} {
          #{$property}-right: $indent-rem;
        }
        .#{$point}-#{$type}b-#{$indent-name} {
          #{$property}-bottom: $indent-rem;
        }
        .#{$point}-#{$type}l-#{$indent-name} {
          #{$property}-left: $indent-rem;
        }
      }
    }
  }
}
