.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.flex-wrap {
  flex-wrap: wrap;
}

.shrink-0 {
  flex-shrink: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 700;
}

.flex-column {
  flex-direction: column;
}

.sm-flex-column {
  @include media(sm) {
    flex-direction: column;
  }
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.text-center {
  text-align: center;
}

.bg-transparent {
  background: transparent;
}

.border-1 {
  border: 1px solid;
}

.border-2 {
  border: 2px solid;
}

.border-4 {
  border: 4px solid;
}

.border-radius-3 {
  border-radius: 3px;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-50 {
  border-radius: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

.border-none {
  border: none;
}

.gap-50 {
  gap: 50px;
}

.pt-50 {
  padding-top: px-to-rem(50px);
}

.pt-100 {
  padding-top: px-to-rem(100px);
}

.pb-100 {
  padding-bottom: px-to-rem(100px);
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }

  .text-#{$name} {
    color: $color;
  }

  .border-#{$name} {
    border-color: $color;
  }
}

@each $text-class, $size-list in $font-sizes {
  $font-size: nth($size-list, 1);
  $line-height: nth($size-list, 2);

  .text-size-#{$text-class} {
    @include typography($font-size, $line-height);
  }

  @each $point, $value in $breakpoints {
    .#{$point}-text-size-#{$text-class} {
      @include media($point) {
        @include typography($font-size, $line-height);
      }
    }
  }
}
