* {
  box-sizing: border-box;
}

html {
  font-size: $rem-base;
  font-family: "Roboto", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

img {
  object-fit: contain;
}

input,
button,
input::placeholder {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: map-get($colors, "white");
  }
}

ul {
  list-style: none;
}

input[type="search"] {
  @extend .bg-dark;
  @extend .border-radius-50;
  padding: px-to-rem(5px 16px);
}

p,
span {
  @include typography(16px, 24px);
}

h1 {
  @extend .text-uppercase;

  @include typography(60px, 90px);

  @include media(md) {
    @include typography(40px, 60px);
  }

  @include media(sm) {
    @include typography(30px, 45px);
  }
}

h2 {
  @extend .text-uppercase;

  margin-bottom: px-to-rem(48px);
  @include typography(38px, 75px);

  @include media(sm) {
    @include typography(18px, 27px);
  }
}

h3 {
  @include typography(30px, 45px);
  font-weight: 400;

  @include media(sm) {
    @include typography(16px, 24px);
  }
}
