* {
  box-sizing: border-box;
}

html {
  font-size: $rem-base;
  font-family: "Roboto", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

img {
  object-fit: contain;
}

input,
button,
input::placeholder {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: map-get($colors, "white");
  }
}

ul {
  list-style: none;
}

input[type="search"] {
  @extend .bg-dark;
  @extend .border-radius-50;
  padding: px-to-rem(5px) px-to-rem(16px);
}

h1 {
  @extend .text-bold;
  @extend .text-uppercase;
  @extend .text-size-7;
  @extend .md-text-size-4;
  @extend .sm-text-size-3;
}

h2 {
  @extend .text-bold;
  @extend .text-uppercase;
  @extend .text-size-4;
  @extend .md-text-size-2;
  @extend .sm-text-size-1;
}

h3 {
  @include typography(30px, 45px);
  font-weight: normal;

  @include media(sm) {
    @include typography(16px, 24px);
  }
}

p,
span {
  @extend .text-size-1;
}
