.banner-main {
  @include bg-image("banner");

  height: 100vh;

  form {
    grid-template-columns: repeat(2, 1fr);

    width: 50%;

    column-gap: 24px;
    row-gap: 24px;

    button {
      grid-column: 1 / -1;
    }

    @include media(md) {
      width: 100%;
      row-gap: 16px;

      label {
        grid-column: 1 / -1;
      }
    }
  }
}

.subscribe-cards-container {
  @extend .mt-64;
  @extend .mb-50;

  column-gap: 30px;
  row-gap: 50px;

  .subscribe-card {
    @extend .px-24;
    @extend .pt-24;
    @extend .pb-64;

    width: 371px;
    min-height: 580px;

    border-radius: 15px;

    button {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .price {
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .text-uppercase;

      align-items: flex-start;
    }

    &.card-free {
      @include bg-image("subscribe-1");
    }

    &.card-standard {
      @include bg-image("subscribe-2");
    }

    &.card-premium {
      @include bg-image("subscribe-3");
    }

    @include media(md) {
      width: 374px;
      min-height: 621px;
    }
  }
}

.article-news {
  column-gap: 30px;

  button {
    width: 130px;
  }
}

.md-article-column {
  @include media(md) {
    flex-direction: column !important;
    row-gap: 20px;

    &:nth-child(2n + 1) {
      flex-direction: column-reverse !important;
    }

    footer {
      text-align: center;
    }

    button {
      width: auto !important;
    }
  }
}

.app-download.btn {
  width: 175px;
}
