@function px-to-rem($list) {
  $result: ();

  @each $value in $list {
    $result: append($result, (($value / $rem-base) * 1rem));
  }

  @return #{$result};
}

@function strip-units($data) {
  @if $data == auto {
    @return $data;
  }

  @return $data / ($data * 0 + 1);
}

@mixin media($type) {
  @media screen and (max-width: map-get($breakpoints, $type)) {
    @content;
  }
}

@mixin typography(
  $font-size,
  $line-height: $font-size,
) {
  font-size: px-to-rem($font-size);
  line-height: px-to-rem($line-height);
}

@mixin bg-image($image) {
  background: url("../images/#{$image}.png") no-repeat center;
  background-size: cover;
  @content;
}
