$white: #fff;
$black: #000;
$green: #34c176;
$orange: #f89202;
$brown: #95390c;
$red: #ff4157;
$purple: #5328a1;
$line: #eee;
$line-info: #b8b8b8;
$background-main: #08020d;
$border-news-button: #e9e9e9;

$public-date: #555;
$nav-search: #3c3b3d;

$gray-dark: #8c8c8c;
$gray-light: #cacaca;

$rem-base: 16px;

$breakpoints: (
  xxs: 320px,
  xs: 375px,
  sm: 425px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);
